[Unit]
Description=table api
After=network.target

[Service]
Type=simple
User=:::myuser:::
WorkingDirectory=/opt/tableapi
ExecStart=/opt/tableapi/bin/server
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
